body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.tableRota>h1 {
    text-align: center;
}

.tableRota {
    /* Centered */
    width: 75%;
    margin: auto;
}

table {
    /* Centered */
    width: 100%;
    margin: auto;
}

thead {
    background-color: green;
    color: white;
    font-weight: bold;
}

tr {
    text-align: center;
    height: 2.5rem;
    border: 1px black;
    border-width: 1rem;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

button {
    min-width: 100px;
}


/* Modal */

.w3-modal {
    z-index: 3;
    display: none;
    /* display: block; */
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

.w3-modal-content>header {
    background-color: green;
    height: 4rem;
    text-align: left;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
}

header>h1 {
    margin-left: 0.5rem;
    /* display: inline; */
    /* flex-grow: 4; */
    /* default 0 */
}

.w3-modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px
}

#markCompleteForm {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    padding-bottom: 3%;
    padding-top: 1%;
}

#markCompleteForm>* {
    margin: 0.5%;
}

tbody>tr:hover {
    color: black;
    background-color: lightgreen;
    /* transition: color 0.5s linear; */
}

tbody>tr {
    color: grey;
    background-color: white;
    transition: background-color 0.5s linear;
    -moz-transition: background-color 0.5s linear;
    /* Firefox */
}

.editable:hover {
    background-color: white;
    /* vendorless fallback */
}